html, body, h1{
	margin: 0;

}
body{
	display: flex;
	flex-direction: column;
}
.img{
    height: 100px;
    width: 100px;
    background-color: transparent;
}
.img:hover{
    cursor: pointer;
}
img{
    height: 100%;
    background-color: transparent;

}
header{
    border-style: solid;
    border-width: 1px;
    display: flex; 
    justify-content: space-between;
    flex-direction: row;


}
main{
    display: flex;
    border-style: solid;
    border-width: 1px;
    height: 450px;
    flex-direction: column;

}
.notification{
    height: 100%;
    width: 350px;
    position:absolute;  
    background-color: white;  
    border-style: solid;
    border-width: 1px;
    right: 0px;
    height: 552px;
    transition: 1s;
}
.hidden{
    transform: translate(350px);
    visibility: hidden;

}
.back{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin-block: 10px;
    border-radius: 4px;
    
}
.line:nth-child(1){
    transform: translateY(6.4px)
    rotate(45deg);
}
.line:nth-child(2){
    transform: translateY(-6.4px)
    rotate(-45deg);
}
.alert{
	justify-content: center;
	text-align: center;
	min-height: 40px;
	min-width: 200px;
	background-color: #ff8080;
	border-radius: 5px;
	color: whitesmoke;
    padding: 10px;
}.success{
	justify-content: center;
	text-align: center;
	min-height: 40px;
	min-width: 200px;
    padding: 10px;
	background-color: #0ab738;
	border-radius: 5px;
	color: whitesmoke;
}
.wrapper{
	display: flex; 
	justify-content: center;
	text-align: center;
    margin: 5px;
}
.circle {
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    border: 3px solid rgb(0, 0, 0);
    height: 40px;
    position: absolute;
    background: rgb(208, 17, 17);
    color: white;
    right: 0px;
  }
.link{
    text-decoration: underline;
    float: right;
}
.link:hover{
    cursor: pointer;
}


